// Mobile first

.balance {
  .content {
    background-color: #FFFFFF;
    padding-bottom: 30px;
  }

  h4 {
    padding-bottom: 25px
  }

  h5 {
    padding-bottom: 40px;
  }

  .btn.l {
    padding: 17px 50px;
  }
  .info {
    padding-top: 10px;
  }
  padding-bottom: 0px;
}