// Mobile first
.base-component {
    display: block;
    padding: 20px 20px 25px;
    //position: relative;
    z-index: 1;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;

    &.quiz {
        height: 100%;
    }

    &.no-padding-left-and-right {
        padding-left: 0;
        padding-right: 0;
    }

    &.no-padding-top {
        padding-top: 0;
    }
    &.no-padding-bottom {
        padding-bottom: 0;
    }
}

// 568+ To identify the V2 release we draw a box during the development
// TODO: Remove me
// @media only screen and (min-width: 568 / 16 * 1em) {
//   .base-component {
//       box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
//   }
// }