// Mobile first
.base-component.not-found {
  background-repeat: no-repeat;
  height: 100vh;
  
  .logo {
    max-width: 66px;
  }

  .relative {
    height: 100%;
  }

  h1 {
    @include text-shadow(2px, 2px, color(black), 0.75);
    padding-bottom: 100px;
  }
}