// Mobile first
.quiz {
  .counter {
    padding: 60px 0 0; //120px 0 0;
    text-align: center;
  }

  .time {
    @include font-style($dosis, 90px, 700, 75px);
    color: color(white);
  }

  .text {
    padding-bottom: 20px;
  }

  .btn {
    margin-top: 60px;
    width: 100%;
  }

  .users-online {
    padding-top: 30px; //70px; 
  }

  .stream-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
    video {
      position: absolute;
      top: 0;
      right: 0; 
      bottom: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: 100% !important;
      z-index: 1;
    }
  }
}