<div class="base-component login">
  <app-floating-bg [animated]="true" [image]="backgroundImage"></app-floating-bg>
  <app-head [goback]="true" [titles]="titles" [subtitles]="subtitles"></app-head>

  <form action="" class="form login" [formGroup]="forgPassForm" (ngSubmit)="forgottenPassword()">
    <div class="from-row">
      <div class="error" *ngIf="forgPassForm.get('email').invalid && (forgPassForm.get('email').dirty || forgPassForm.get('email').touched)">
        <div class="error-message" *ngIf="forgPassForm.get('email').errors.required">
          Campo requerido.
        </div>

        <div class="error-message" *ngIf="forgPassForm.get('email').errors.minlength">
          E-mail necesita tener un minimo de {{ forgPassForm.get('email').errors.minlength.requiredLength }} caracteres.
        </div>

        <div class="error-message" *ngIf="forgPassForm.get('email').errors.pattern">
          Por favor introduzca un email válido.
        </div>
      </div>

      <div class="input">
        <input required id="email" name="email" type="email" [(ngModel)]="user.email" formControlName="email">
        <span class="placeholder">Email</span>
      </div>
    </div>

    <div class="submit-field">
      <button class="btn yellow l rounded" [attr.disable]="forgPassForm.invalid" type="submit">Resetear</button>
    </div>
  </form>
</div>