<div class="base-component help-center">
    <app-navbar [goback]="true" [logoClasses]="logoClasses" [titles]="titles"></app-navbar>
     
    <div class="main-content center">
        <h2>Cómo cobro el dinero ganado</h2>
   
        <p>Es muy fácil. Cada vez que ganes dinero en quizvideo lo iremos añadiendo a Tu Balance.</p>

        <p>Cuando quieras cobrar sólo tienes que hacer click en el botón en esa pantalla. Automáticamente recibiremos tu solicitud, haremos unas comprobaciones y... TACHÁN, el dinero estará en tu cuenta.</p>
        <!--
        <p>Si tienes dudas sobre qué es verse, las puedes aclarar <a href="https://verse.me/es/" target="_blank" title="Enlace a página de verse">aquí</a>.</p>-->
    </div>
</div>