<div class="base-component help-center">
    <app-navbar [goback]="true" [logoClasses]="logoClasses" [titles]="titles"></app-navbar>
    
    <div class="main-content">

        <h2>Reglas Oficiales de Quizvideo</h2>

          <p>Apple no participa de ninguna manera en el concurso</p>

    
        <p>NO ES NECESARIO NINGÚN PAGO O COMPRA PARA PARTICIPAR O GANAR.</p>

        <p>La aplicación quizvideo (el "Concurso") está patrocinada por QuizVideo Trivia, S.L.. (el "Patrocinador").</p>

        <p>EL Concurso será nulo en los territorios donde esté prohibido o restringido por la Ley o en aquellos territorios donde se requieran requisitos que no has sido cumplidos. También será nulo en aquellos territorios donde el Concurso y sus métodos de participación descritos en este documento sea considerado ilegal.</p>

        <h3>¿Quién puede jugar a quizvideo?</h3>

        <p>Sujeto a las Reglas, el concurso está abierto a personas individuales que tengan al menos 16 años de edad a partir de la fecha de ingreso.</p>

        <p>Para poder recibir un premio (como se define a continuación) se requiere que:</p>

        <ul>
            <li>
            <p>la información asociada con la cuenta del participante debe ser verdadera y precisa.</p>
            </li>
            <li>
            <p>La información asociada con la cuenta del participante debe identificar al participante real en el Concurso.</p>
            </li>
        </ul>

        <p>Para facilitar la entrega de un Premio (como se define a continuación), quizvideo puede intentar ponerse en contacto con el ganador utilizando el correo electrónico proporcionado durante el registro de la cuenta.</p>

        <p>Si quizvideo no puede ponerse en contacto con el ganador usando ese número de teléfono, el ganador puede perder su Premio.</p>

        <p>Ciertos concursos solo están abiertos para residentes de países específicos. Cualquier persona que ingrese en un Concurso al que no sea elegible para ingresar no podrá ganar un Premio (como se define a continuación) en ese Concurso.</p>

        <p>No podrán participar los empleados, agentes y contratistas del Patrocinador (colectivamente, "Empleados") ni sus familiares directos (incluyendo las parejas de hecho), así como sus familiares directos hasta segundo grado de parentesco mientras los Empleados estén contratados por el Patrocinador y durante los seis meses posteriores al último día de trabajo con o para el Patrocinador.</p>

        <p>No podrán participar los empleados de empresas subsidiarias, agencias de publicidad o cualquier otra entidad involucrada en el desarrollo o administración de este Concurso ni sus familiares directos (incluyendo las parejas de hecho), así como sus familiares directos hasta segundo grado de parentesco mientras estén contratados por cualquier entidad involucrada en el desarrollo o administración de este Concurso y durante los seis meses posteriores al último día de trabajo con o para el Patrocinador.</p>

        <p>El Patrocinador se reserva el derecho de verificar la elegibilidad de un participante antes, durante o después del Concurso.</p>

        <p>Aviso a todos los participantes de países que no sean España: como se indica en estas Reglas, es tu responsabilidad cumplir con las leyes de competencia de tu país y/o jurisdicción. Si eres un ganador y en tu país y/o jurisdicción las leyes aplicables sobre Concursos impiden al Patrocinador otorgar el Premio, no podrás recibir ningún premio del Patrocinador. Al participar en este Concurso, reconoces este riesgo y aceptas que puedes ganar y, en el caso de que la legislación de tu país y/o jurisdicción lo prohíba no recibir el Premio.</p>

        <h3>Participación</h3>

        <p>Los Concursos se anunciarán a través de la aplicación, email, redes sociales (las “RR. SS.”), o cualquier otro medio que el Patrocinador considere adecuado. Los participantes pueden unirse al Concurso mientras este se esté emitiendo. El Patrocinador se reserva el derecho de cancelar Concursos, a su exclusivo criterio y sin ninguna restricción.</p>

        <h3>¿Cómo participar?</h3>

        <p>No es necesario comprar ningún tipo de entrada o pagar ningún tipo de precio, canón, etc. para participar en el Concurso.</p>

        <p>Para ingresar al Concurso debes seguir los siguientes pasos:</p>

        <ol>
            <li>
            <p>Entrar en la web <a href="http://www.quizvideo.com">www.quizvideo.com</a> (la “Web”)</p>

            <ul>
                <li>
                <p>Si ya tienes una cuenta de quizvideo, deberás iniciar sesión.</p>
                </li>
                <li>
                <p>si aún no tienes una cuenta quizvideo, deberás registrarte y crear una cuenta de quizvideo con un correo electrónico verificado.</p>
                </li>
            </ul>
            </li>
            <li>
            <p>Haz clic en "Jugar" para que quizvideo automáticamente te permita ver el Concurso.</p>
            </li>
            <li>
            <p>Tienes 10 segundos para responder cada pregunta.</p>
            </li>
            <li>
            <p>Si la respuesta es correcta recibirás entre 1 y 3 estrellas.</p>
            </li>
            <li>
            <p>Si la respuesta es incorrecta no recibirás ninguna estrella.</p>
            </li>
        </ol>

        <p>Al registrarte en quizvideo aceptas que el Patrocinador puede utilizar cualquier información proporcionada por ti o recopilada por el Patrocinador en relación con el Concurso de acuerdo con la Política de Privacidad de quizvideo ubicada en <a href="https://quizvideo.com/politica-de-privacidad">https://quizvideo.com/politica-de-privacidad</a> y los Términos y Condiciones de quizvideo ubicados en <a href="https://quizvideo.com/terminos-y-condiciones">https://quizvideo.com/terminos-y-condiciones</a>.</p>

        <p>Asimismo, aceptas que el Patrocinador pueda compartir dicha información con las entidades comerciales afiliadas del Patrocinador.</p>

        <p>Toda la información enviada a la quizvideo pasa a ser propiedad del Patrocinador.</p>

        <p>Además, al registrarte en quizvideo aceptas que el uso de quizvideo está sujeto a los Términos y Condiciones de quizvideo ubicados en <a href="https://quizvideo.com/terminos-y-condiciones">https://quizvideo.com/terminos-y-condiciones</a> y a la Política de Privacidad de quizvideo ubicada en <a href="https://quizvideo.com/politica-de-privacidad">https://quizvideo.com/politica-de-privacidad</a> y las Reglas Oficiales en <a href="https://quizvideo.com/reglas-oficiales">https://quizvideo.com/reglas-oficiales</a>.</p>

        <h3>Premios</h3>

        <p>El ganador de cada Concurso recibirá un premio en efectivo, determinado a exclusivo criterio del Patrocinador (el "Premio"). En el caso de ganadores múltiples (como se explica a continuación), dichos jugadores dividirán el Premio de manera uniforme.</p>

        <p>El total de todos los premios acumulados que haya ganado un participante se podrá ver en el perfil personal de quizvideo de cada uno de los participantes.</p>

        <p>Para recibir el pago de los Premios el participante deberá retirarlo a través de:</p>

        <ul>
            <!--
            <li>
            <p>Verse.me si el participante juega desde un país miembro de la Unión Europea</p>
            </li>-->
            <li>
            <p>PayPal si el participante juega desde un país que no sea miembro de la Unión Europea</p>
            </li>
        </ul>
        <!--
        <p>Tanto verse.me como PayPal son servicio pretado por una empresa tercera al Patrocinador. La entrega del premio está sujeta a los Términos y Condiciones y a la Política de Privacidad de verse.me y PayPal, ubicadas en:</p>-->

        <ul>
            <li>
            <p>Paypal</p>

            <ul>
                <li>
                <p>Términos y Condiciones - https://www.paypal.com.</p>
                </li>
                <li>
                <p>Política de Privacidad - https://www.paypal.com.</p>
                </li>
            </ul>
            </li>
            <li>
                <!--
            <p>Verse</p>

            <ul>
                <li>
                <p>Términos y Condiciones - https://www.verse.me</p>
                </li>
                <li>
                <p>Política de Privacidad - https://www.verse.me</p>
                </li>
            </ul>-->
            </li>
        </ul>

        <p>En ciertos casos y a exclusivo criterio del Patrocinador, quizvideo se comunicará directamente con el ganador o ganadores para otorgar el Premio mediante un método mutuamente aceptable. El pago estará sujeto a la confirmación de la elegibilidad del ganador para recibir un Premio de conformidad con las Reglas y los Términos y Condiciones del Patrocinador.</p>

        <p>Cualquier participación de un usuario que no cumpla con las Reglas y/o los Términos y Condiciones del Concurso será declarada nula por el Patrocinador a su exclusivo criterio y sin ninguna restricción.</p>

        <p>Cada usuario de quizvideo puede crear, mantener, usar y controlar solo una cuenta. Los usuarios no pueden "co-poseer" cuentas.</p>

        <p>En caso de que el Patrocinador determine que un usuario ha creado, mantenido, utilizado o controlado más de una cuenta, el Patrocinador se reserva el derecho de suspender o cancelar una o todas sus cuentas y finalizar, retener o revocar la concesión de cualquier Premio. Todo esto sin renunciar a cualquier otra acción que el Patrocinador considere necesaria para la legítima defensa de sus derechos e intereses</p>
    <!--
        <p>Cada cuenta quizvideo solo puede asociarse con una cuenta de verse.me o PayPal, es decir, una cuenta de verse.me o PayPal no puede asociarse con más de una cuenta quizvideo. Los intentos de asociar una cuenta quizvideo con cuentas adicionales de verse.me o PayPal pueden dar como resultado la cancelación de esa cuenta quizvideo y la pérdida de los Premios otorgados.</p>
    -->
        <p>El Patrocinador solo otorgará un Premio a la persona identificada en la información de la cuenta ganadora. Asimismo, el Patrocinador, en caso que sea necesario por mandato legal, solo emitirá los formulario de retención de impuestos a nombre de la persona identificada en la información de la cuenta ganadora.</p>

        <p>El Patrocinador usa la información de las cuentas de los usuarios para contactar y verificar a los ganadores. La información desactualizada o incorrecta de la cuenta al momento de ingresar a un Concurso puede acarrear la descalificación del usurario y, por ende, la imposibilidad del mismo para recibir un Premio.</p>

        <p>Las entradas generadas por scripts u otros medios automatizados son nulas. El hecho de no proporcionar información de contacto válida puede dar como resultado la cancelación de esa cuenta quizvideo y la pérdida de los Premios ganados.</p>

        <p>El Patrocinador se reserva expresamente el derecho de descalificar cualquier participación generada por un medio automático o scripts o que viole cualquiera de estas Reglas o los Términos y Condiciones de quizvideo.</p>

        <p>Las decisiones del Patrocinador son definitivas y vinculantes con respecto a todos los asuntos relacionados con el Concurso. En ningún caso el Patrocinador estará obligado a otorgar ningún premio que no sea el Premio especificado en estas Reglas oficiales. El Patrocinador no garantiza que el Premio esté disponible para el ganador. El premio no es asignable ni transferible y no se permiten sustituciones. Además, si el Premio no puede otorgarse a el ganador debido a cualquier ley, regla o reglamento aplicable, o si el ganador no puede reclamar el Premio por cualquier motivo, entonces el Patrocinador se reserva el derecho de no otorgar el Premio en absoluto. El ganador será responsable de todos los impuestos federales, estatales y locales sobre el valor del Premio así como de cualquier comisión que se genere en el pago del mismo. Los ganadores deberán proporcionar a quizvideo información precisa sobre su identidad y país de residencia.</p>

        <p>Si quieres recibir una lista completa de ganadores o una copia de las Reglas debes enviar un sobre con Franqueo en Destino, indicando la dirección a la que quieras que se te remitan dichas Reglas o lista completa ganadores, a QuizVideo Trivia S.L., sita en calle Donoso Cortés 8, 1º D, 28015, Madrid.</p>

        <h3>¿Cómo se selecciona a los ganadores?</h3>

        <p>El ganador o ganadores del Concurso serán los participantes que hayan acumulado mayor número de estrellas al finalizar las 10 o más preguntas del Concurso.</p>

        <h3>¿Cómo se otorgan las estrellas?</h3>

        <ol>
            <li>
            <p>Si la respuesta es correcta recibirás estrellas conforme a las siguientes reglas basadas en el tiempo de respuesta:</p>

            <ul>
                <li>
                <p>3 estrellas si has respondido en menos de 4 segundos</p>
                </li>
                <li>
                <p>2 estrellas si has respondido en más de 4 segundos y menos de 8 segundos</p>
                </li>
                <li>
                <p>1 estrellas si has respondido en más de 8 segundos y menos de 10 segundos</p>
                </li>
            </ul>
            </li>
            <li>
            <p>Si la respuesta es incorrecta no recibirás ninguna estrella</p>
            </li>
        </ol>

        <p>Si hay más de un ganador, los ganadores dividirán el premio de manera uniforme.</p>

        <p>El Concurso se llevará a cabo bajo la supervisión del Patrocinador. Las decisiones del Patrocinador son definitivas y vinculantes en todos los asuntos relacionados con este Concurso.</p>

        <p>El ganador será notificado mediante quizvideo o por correo electrónico; no obstante, el Patrocinador se reserva el derecho de determinar un método alternativo de notificación.</p>

        <p>El ganador debe retirar el Premio dentro de los 90 días posteriores a la fecha de notificación de dicho Premio. En caso de que un ganador no retire el Premio dentro del plazo de 90 días desde la notificación del mismo, el Patrocinador podrá, a su entera discreción, elegir no otorgar el premio en absoluto. Si se determina que un participante no cumple con lo dispuesto en estas Reglas para participar en el Concurso, el Patrocinador puede, a su entera discreción, elegir no otorgar el Premio en absoluto.</p>

        <h3>Condiciones Generales</h3>

        <p>El Patrocinador se reserva el derecho a modificar las presentes Reglas en caso de que se</p>

        <p>aprecie, justificadamente, la concurrencia de circunstancias que pudieran influir en la</p>

        <p>objetividad y transparencia del concurso.</p>

        <p>Cualquier incidencia que pueda surgir y que no se refleje en estas Bases será resuelta</p>

        <p>por El Patrocinador, según su saber y mejor criterio.</p>

        <p>La participación en cualquier Concurso organizado por el Patrocinador bajo el dominio https://www.quizvideo.com implica la renuncia expresa al fuero que pudiera corresponderle al participante, aceptando este los Tribunales y Juzgados de Madrid como fuero competente para dilucidar cualquier reclamación.</p>

        <p>Aviso a todos los participantes no residentes en España: como se indicó anteriormente, es tu responsabilidad cumplir con las leyes de competencia de tu país y/o jurisdicción. Tú reconoces que ciertos países y/o jurisdicciones tienen leyes que pueden impedir que el Patrocinador otorgue el Premio. Si eres un ganador y este es el caso con tu país y/o jurisdicción, reconoces expresamente que no podrá recibir ningún premio del Patrocinador. Al participar en este Concurso reconoces dichos riesgos y entiendes que puedes ganar y aun así no recibir el Premio.</p>

        <p>Aviso a todos los participantes: al participar en el Concurso o al aceptar un Premio, aceptas cumplir con todas las leyes y reglamentaciones aplicables en tu país y/o jurisdicción.</p>

        <p>En caso necesario el Patrocinador puede exigir al ganador que firme, dentro de un plazo de diez (10) días hábiles, una Declaración Jurada de Elegibilidad y una Exención de Responsabilidad redactada por el Patrocinador para demostrar la elegibilidad para recibir el Premio. Asimismo, el Patrocinador puede retener el premio hasta no recibir dicha &nbsp;Declaración Jurada de Elegibilidad y Exención de Responsabilidad</p>

        <p>El ganador podrá ser requerido para completar formularios de impuestos como condición para la entrega del Premio correspondiente. El ganador también puede ser obligado a presentar un comprobante de identidad, dirección y fecha de nacimiento para recibir un premio.</p>

        <p>A menos que lo prohíba la ley aplicable, la aceptación de un Premio constituye un permiso expreso del el ganador a favor de el Patrocinador para usar el nombre, fotografía, imagen, voz, dirección (ciudad y país) y testimonios en todos los medios, a perpetuidad, de cualquier manera que el Patrocinador considere apropiado para fines publicitarios y sin ninguna compensación a dicho participante o cualquier derecho de revisión o aprobación, notificaciones o permiso. Asimismo, constituye un consentimiento expreso para divulgar su información de identificación personal a terceros (incluido, entre otros, poner el nombre del ganador en la lista de ganadores).</p>

        <p>Sin perjuicio de cualesquiera derechos de publicidad, privacidad o de otro tipo (ya sean legales o no) en cualquier parte del mundo, la aceptación de Premio constituye un consentimiento expreso del usuario a favor del Patrocinador para:</p>

        <ul>
            <li>
            <p>Que el Patrocinador (y sus agentes, consultores y empleados) puedan fotografiar, grabar o filmar visual o audiovisualmente al ganador.</p>
            </li>
            <li>
            <p>Que el Patrocinador (y sus agentes, consultores y empleados) usen, reproduzcan, diseminen, modifiquen, editen, dupliquen, distorsionen, agreguen, resten, procesen y exploten cualquier resultado de la participación en el Concurso (incluyendo, sin limitación, cualquier forma en que tal actividad, la participación en el Concurso, pueda ser registrada o grabada o modificada) o derivados o extensiones o imitaciones de la misma de cualquier manera que el Patrocinador considere adecuado, en cualquier medio o tecnología conocida o inventada a continuación, en todo el universo y a perpetuidad, incluidos, entre otros, los de ilustración, arte, promoción, publicidad, comercio o cualquier otro fin que sea considerado adecuado</p>
            </li>
        </ul>

        <p>El ganador de premio renuncia a cualquier derecho que pueda tener para examinar o aprobar el producto o productos completos o la copia publicitaria o material impreso que se puede usar en conjunto con el mismo o el uso para el cual se puede aplicar.</p>

        <p>Un participante o ganador puede ser descalificado del Concurso si no cumple con las disposiciones de estas Reglas Oficiales o los Términos de Uso del Patrocinador, según lo determine el exclusivo criterio del Patrocinador.</p>

        <p>El Patrocinador, a su entera discreción, puede descalificar de un Concurso, negarse a otorgar los Premios y exigir la devolución de los Premios, o suspender, limitar o finalizar la cuenta de un usuario que esté involucrado en una conducta que el Patrocinador considera, a su exclusiva discreción, impropia, injusta, fraudulenta o contraria al funcionamiento de Concursos o de cualquier manera perjudicial para otros usuarios.</p>

        <p>La conductas inapropiadas incluyen, entre otras:</p>

        <ul>
            <li>
            <p>la falsificación de información personal, incluida la información de pago, requerida para reclamar un Premio;</p>
            </li>
            <li>
            <p>violar los términos del método de pago elegible, incluidos los términos de cualquier tarjeta de pago de recompensas en efectivo,</p>
            </li>
            <li>
            <p>violar cualquiera de estas Reglas, usar métodos no autorizados como scripts no autorizados u otros medios automatizados;</p>
            </li>
            <li>
            <p>manipular la administración del Concurso o tratar de alterar de alguna manera los programas informáticos asociados con los Concursos;</p>
            </li>
            <li>
            <p>obtener información de otros participantes y enviar correo no deseado a otros participantes; y</p>
            </li>
            <li>
            <p>cualquier otra forma de abuso; o de otra manera violar estas Reglas.</p>
            </li>
        </ul>

        <p>El usuario reconoce que el decomiso y/o devolución de cualquier Premio de ninguna manera impedirá que el Patrocinador informe a las autoridades pertinentes, y/o persiga procedimientos penales o civiles relacionados con dicha conducta.</p>

        <p>Si alguna disposición de estas Reglas se considera ilegal o inaplicable, dicha disposición se limitará o eliminará en la medida mínima necesaria para que estas Reglas permanezcan en pleno vigor y efecto, y sean exigibles.</p>

        <h3>Limitación de responsabilidad</h3>

        <p>Los servicios se ofrecen "tal cual están" y "sujetos a disponibilidad", y en la medida en que las leyes aplicables lo permitan, sin garantías de ningún tipo, expresas o implícitas, lo que incluye, en particular las garantías implícitas, condiciones u otros términos relacionados con (i) comerciabilidad, calidad satisfactoria, adecuación para un fin específico, titularidad, goce pacífico, no infracción o (ii) derivados del curso de una negociación. Además, aun cuando quizvideo intenta ofrecer una buena experiencia al usuario, no declaramos ni garantizamos que: (a) los Concursos siempre sean seguros, no presenten errores y sean oportunos; (b) los Concursos funcionen siempre sin retrasos, interrupciones o imperfecciones, o (c) cualquier contenido o información que obtengas en o a través de los Concursos sea oportuna o precisa.</p>

        <p>El Patrocinador y nuestras filiales, administradores, responsables, accionistas, empleados, licenciantes, proveedores y agentes no serán responsables por ningún daño indirecto, fortuito, especial, derivado, punitivo o múltiple, ni de ninguna pérdida de ingresos y ganancias, incurridos de manera directa o indirecta, ni de ninguna pérdida de datos, uso, fondo de comercio u otras pérdidas intangibles que se deriven de: (a) tu uso de la Web o la incapacidad de utilizarlos; (b) tu acceso a la Web o incapacidad para acceder a ella; (c) la conducta o el contenido de otros usuarios o terceros en o a través de la Web; (d) pérdida de datos o costo de la adquisición de bienes y servicios sustitutos y/o (e) cualquier asunto más allá del control razonable del Patrocinador.</p>

        <p>La participación en el Concurso está bajo el riesgo del participante. El Patrocinador no será responsable de:</p>

        <ol>
            <li>
            <p>notificaciones fallidas, devueltas o mal dirigidas basadas en información inexacta proporcionada por el ganador en relación con una entrada;</p>
            </li>
            <li>
            <p>entradas y respuestas a notificaciones de ganadores perdidas, atrasadas, incompletas, ilegibles, ininteligibles, franqueadas, mal dirigidas, dañadas o no recibidas por el destinatario en todo o en parte o por error informático o técnico de cualquier tipo;</p>
            </li>
            <li>
            <p>cualquier error de comunicación o fallo electrónico, fallos de hardware o software técnico de cualquier tipo, conexiones de red perdidas o no disponibles, o transmisiones incompletas, confusas o retrasadas de la computadora que puedan limitar la capacidad del participante para participar en el Concurso;</p>
            </li>
            <li>
            <p>cualquier mal funcionamiento técnico de la red telefónica, sistema en línea de la computadora, equipo de cómputo, software, mal funcionamiento del programa u otras fallas, transacciones informáticas demoradas o conexiones de red que sean de naturaleza humana, mecánica o técnica, o cualquier combinación de las mismas, incluyendo cualquier lesión o daño a la computadora del participante o de otra persona o dispositivo móvil relacionado con o resultante del uso de la Web o que esté relacionado con este Concurso; o</p>
            </li>
            <li>
            <p>cualquier garantía con respecto a cualquier Premio o cualquier componente del mismo.</p>
            </li>
        </ol>

        <p>Al participar en el Concurso, aceptas y liberas al Patrocinador, su matriz, empresas subsidiarias y entidades afiliadas, directores, funcionarios, empleados, abogados, agentes y representantes (las "Partes Liberadas") de cualquier daño o lesión, muerte, pérdida, reclamo, acción, demanda u otra responsabilidad (colectivamente, "Reclamaciones") que puedan surgir de su aceptación, posesión y/o uso de cualquier Premio o su participación en este Concurso, o de cualquier mal uso o mal funcionamiento de cualquier Premio otorgado, independientemente de si dichas Reclamaciones, o conocimiento de los hechos que constituyen dichas Reclamaciones, existen en el momento de la inscripción o surgen en cualquier momento posterior, e indemnizarán a cada una de las Partes Liberadas de cualquier daño que surja de los mismos.</p>

        <p>Cualquier persona que intente defraudar o de alguna manera manipular este Concurso podrá ser procesada en toda la extensión de la ley.</p>

        <p>El Patrocinador se reserva el derecho de modificar estas Reglas de cualquier manera o en cualquier momento.</p>

        <p>El Patrocinador se reserva el derecho, a su entera discreción, de cancelar o suspender este Concurso en caso de que virus, errores u otras causas fuera de su control corrompan la administración, la seguridad o el funcionamiento adecuado del Concurso.</p>

        <p>En caso de cancelación o suspensión, El Patrocinador deberá publicar un aviso en la Web, <a href="https://www.quizvideo.com">https://www.quizvideo.com</a>, a tal efecto.</p>

        <h3>Competencia y jurisdicción</h3>

        <p>Los participantes convienen que este Concurso y sus Reglas se regirán por las leyes del Reino de España y estarán sujetas a la jurisdicción exclusiva de los tribunales españoles.</p>

        <p>La participación en el Concurso implica la renuncia expresa al fuero que pudiera corresponderle aceptando los Tribunales y Juzgados de Madrid como competentes para dilucidar cualquier reclamación</p>

    </div>
</div>