<div class="base-component login">
  <app-floating-bg [animated]="true" [image]="backgroundImage"></app-floating-bg>
  <app-head [goback]="true" [titles]="titles"></app-head>

  <form action="" class="form login" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="from-row">
      <div class="error" *ngIf="resetPasswordForm.get('password').invalid && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">
        <div class="error-message" *ngIf="resetPasswordForm.get('password').errors.required">
          Por favor introduce una contraseña de al menos 8 caracteres.
        </div>

        <div class="error-message" *ngIf="resetPasswordForm.get('password').errors.minlength">
          La contraseña tiene que tener {{ resetPasswordForm.get('password').errors.minlength.requiredLength }} caracteres como mínimo.
        </div>

        <div class="error-message" *ngIf="resetPasswordForm.get('password').errors.pattern">
          Por favor introduce una contraseña de al menos 8 caracteres.
        </div>
      </div>

      <div class="input">
        <input required id="password" name="password" type="password" [(ngModel)]="user.password" formControlName="password">
        <span class="placeholder">Escribe una contraseña nueva</span>
      </div>
    </div>

    <div class="submit-field">
      <button class="btn yellow l rounded" [attr.disable]="resetPasswordForm.invalid" type="submit">Resetear</button>
    </div>
  </form>
</div>