<div class="base-component profile">
	<app-floating-bg [animated]="true" [image]="image"></app-floating-bg>
	<app-head
		[help]="true"
		[goback]="false" 
		[titles]="titles" 
		[subtitles]="subtitles"
		[messages]="messages">
	</app-head>
	<div *ngIf="population" class="centered white bold padding">
		<p>{{ population || 0 }} usuarios online.</p>
	</div>
	<div style=" color: white;text-align: center;">(Apple no participa de ninguna manera en el concurso)</div>
	<!--<div class="reminder">
		<a class="btn m yellow white-txt rounded">Avísame</a>
	</div>-->
	<div *ngIf="user">
		<div class="user-info">
			<div class="flex">
				<div class="flex-item profile">
				<div class="profile-image" [ngStyle]="image">
					<img src="{{ user.image ? user.image : 'assets/images/icons/user-placeholder-1.png' }}" alt="{{ user.username }}">
				</div>
				<div class="profile-name">
					<h5>{{ user.username | split:'@' }}</h5>
				</div>
				</div>
			
				<div class="flex-item score">
				<p class="flex-item-title small grey">Mis estrellas</p>
				<i class="fas fa-star"></i>
				<h5 class="count-of-stars">{{ user.score }}</h5>
				</div>
			</div>
			
			<div class="flex last">
				<a class="flex-item extra-lifes" routerLink="/invite">
					<p class="flex-item-title small medium grey">Mis comodines</p>
				
					<div class="life-circle big">
						<div class="square top left"></div>
						<div class="square top right"></div>
						<div class="square bottom left"></div>
						<div class="square bottom right"></div>
						<div class="life-circle transparent small">
						<p class="value">{{ user.extraLives }}</p>
						</div>
					</div>
				</a>
			
				<div class="flex-item balance" >
					<p class="flex-item-title small medium grey">Mi balance</p>
					<h3 class="value">{{ user.balance | number : '1.2' }} €</h3>
				</div>
			</div>
			
			<div class="go-to">
				<a routerLink="/invite" class="btn l rounded white-txt cyan">Consigue comodines</a>
				<a routerLink="/game-results" class="paragraph underline">Resultados del Quiz anterior</a>
			</div>
			<!-- <div class="centered white padding">
				<a class="logout" (click)="logout($event)">¿Quieres cerrar la sesion?</a>
			</div> -->
		</div>
	</div>
</div>