<div class="base-component help-center">
    <app-navbar [goback]="true" [logoClasses]="logoClasses" [titles]="titles"></app-navbar>
    
    <div class="main-content center">
        
        <h2>¿Qué es quizvideo?</h2>
        
        <p>Somos un&nbsp;juego móvil de preguntas y respuestas con premios en efectivo. Juega en vivo cada día a las 20:30. Si quieres saber más sobre cómo jugar, visita <a href="/como-jugar" title="Cómo jugar">Cómo jugar a quizvideo</a>.</p>

        <h3>¿Cuánto cuesta jugar a quizvideo?</h3>

        <p>¡Nada! quizvideo es completamente gratuito. Si alguien te quiere cobrar, avísanos en <a href="mailto:legal@quizvideo.com">legal@quizvideo.com</a></p>

        <h3>¿Qué edad tengo que tener para jugar a quizvideo?</h3>

        <p>La edad mínima es 16 años. Si no tienes 16 años… lo sentimos pero no puedes jugar.</p>

        <h3>¿Los premios son dinero real?</h3>

        <p>Sí, y te lo enviamos directamente a tu cuenta de verse como cuando te paga un amigo. No tenemos pago mínimo. Si todos tus datos están bien te pagamos en menos de 24 horas.</p>
        <!--
        <h3>¿Qué es verse?</h3>

        <p>Verse es una aplicación de pagos p2p que te permite pagar y solicitar dinero a tus amigos. Si tienes más dudas sobre qué es verse, las puedes aclarar <a href="https://verse.me/es/" target="_blank" title="Enlace a página de verse">aquí</a>.</p>-->

        <h3>¿Qué son las vidas extra y cómo funcionan?</h3>

        <p>Son como los comodines de toda la vida. Utilízala para ganar 3 estrellas en la pregunta que elijas. Sólo hay dos condiciones: solo puedes usar 1 por juego y no la puedes usar la décima pregunta.</p>

        <h3>¿Cómo consigo vidas extra?</h3>

        <p>Es muy fácil, sólo tienes que invitar a un amigo y que éste se registre y juegue en quizvideo. No hay límite de comodines, consigue tantos como quieras. Por cada amigo tendrás un comodín. Tienes más información en Vidas Extra.</p>

        <h3>¿Qué edad tengo que tener para cobrar los premios que gane en quizvideo?</h3>

        <p>18 años. Para poder cobrar si tienes menos de 18 años necesitaremos la autorización de tus padres o tutores. Si no tienes 16 años… lo sentimos pero no puedes jugar.</p>

        <h3>¿Quién paga los premios?</h3>

        <p>El dinero de los premios viene del patrocinador, Quizvideo Trivia, S.L..</p>

        <h3>¿Si tengo problemas para cobrar, qué tengo que hacer?</h3>

        <p>Ponte en contacto con ayuda@quizvideo.con. Envíanos un correo con tu nombre de usuario y estaremos encantados de investigar su problema.</p>

        <h3>Trabajo en prensa y quiero escribir sobre quizvideo. ¿Cómo lo hago?</h3>

        <p>Primero de todo, ¡muchas gracias! Puedes escribirnos a <a href="mailto:prensa@quizvideo.com">prensa@quizvideo.com</a>.</p>

        <h3>¿Quiero enviar un comentario o sugerir un cambio?</h3>

        <p>Primero de todo, ¡muchas gracias! Puedes escribirnos a <a href="mailto:ayuda@quizvideo.com">ayuda@quizvideo.com</a> o contactarnos por <a class="m twitter" href="https://twitter.com/quizvideotrivia" target="_blank"></a>, <a class="m instagram" href="https://www.instagram.com/quizvideo/" target="_blank">Instagram</a> o <a class="m facebook" href="https://www.facebook.com/quizvideo" target="_blank">Facebook</a>.</p>

        <h3>¿Cómo presento un reclamo sobre asuntos relacionados con derechos de autor, suplantación de identidad, marca registrada u otros problemas?</h3>

        <p>Por favor revisa nuestras Condiciones de Uso para conocer qué constituye una infracción y cómo solucionar el problema. También puedes escribirnos a <a href="mailto:legal@quizvideo.com">legal@quizvideo.com</a></p>

        <h3>¿Quiero saber más&nbsp;sobre las Condiciones de Uso, la Política de Privacidad o las Reglas Oficiales de quizvideo?</h3>

        <p>En estos enlaces tienes toda la información que necesitas: <a href="/terminos-y-condiciones">Condiciones de Uso</a>, <a href="/politica-de-privacidad">Política de Privacidad</a> y <a href="/reglas-oficiales">Reglas Oficiales de quizvideo</a></p>

        <p>Si tienes más preguntas, escríbenos a <a href="mailto:ayuda@quizvideo.com">ayuda@quizvideo.com</a> o contáctanos por <a href="https://twitter.com/quizvideotrivia" target="_blank">Twitter</a>, <a href="https://www.instagram.com/quizvideo/" target="_blank">Instagram</a> o <a href="https://www.facebook.com/quizvideo" target="_blank">Facebook</a>.</p>

    </div>
</div>

