<div class="base-component help-center">
    <app-navbar [goback]="true" [logoClasses]="logoClasses" [titles]="titles"></app-navbar>
    
    <div class="main-content">
        
        <h2>Política de Privacidad de Quizvideo</h2>

        <h3>1. Definición</h3>

        <p>QuizVideo Trivia, S.L. ("quizvideo", "nosotros", "nuestro" o "nos") se compromete a proteger y respetar tu privacidad.</p>

        <p>La presente política de privacidad (la “Política de Privacidad”) establece cómo recopilamos, almacenamos, procesamos, transferimos, compartimos y usamos datos que te identifican o están asociados contigo ("Información Personal") e información sobre nuestro uso de cookies y tecnologías similares.</p>

        <p>Quizvideo opera un servicio que te permite reproducir juegos en directo a través de nuester web <a href="http://www.quizvideo.com">www.quizvideo.com</a> (el "Servicio").</p>

        <p>Esta política de privacidad se aplica a nuestro Servicio. Antes de acceder o utilizar nuestro Servicio, asegúrate de haber leído y entendido cómo recopilamos, almacenamos, usamos y divulgamos tu información personal</p>

        <p>QuizVideo Trivia, S.L. es el controlador de datos de la información personal que tenemos sobre ti.</p>

        <h3>2. Información personal que recopilamos y uso de la&nbsp;misma</h3>

        <p>Recopilamos información personal que tú nos envía voluntariamente cuando utiliza nuestro Servicio. Esta información es la que nos proporcionas cuando</p>

        <ol>
            <li>te registras y creas una Cuenta en el Servicio;</li>
            <li>
            <p>editas tu Cuenta en el Servicio</p>
            </li>
            <li>
            <p>te pones en contacto con nosotros a través de cualquier víaa</p>
            </li>
            <li>
            <p>accedes al Servicio</p>
            </li>
            <li>
            <p>accedes a un concurso y &nbsp;respondes preguntas de quizvideo</p>
            </li>
            <li>
            <p>o usas alguna otra característica de nuestro Servicio.</p>
            </li>
        </ol>

        <p>&nbsp;</p>

        <p>También podemos recopilar información personal de terceros, como las redes sociales.</p>

        <p>Siempre te indicaremos qué información personal es necesaria para que podamos prestarte el Servicio. Si eliges no proporcionar dicha información personal es posible que no podamos brindarte el Servicio o responder a tus solicitudes.</p>

        <p>La tabla en el Anexo 1 establece las categorías de información personal que recopilamos sobre ti y cómo usamos esa información, así como también la base legal en la que confiamos para procesar la información personal.</p>

        <p>También recopilamos información personal de forma automática de manera indirecta sobre cómo accede y utiliza el Servicio y la información sobre el dispositivo que utiliza para acceder al Servicio.</p>

        <p>La tabla en el Anexo 2 establece las categorías de información personal que recopilamos sobre ti de manera automática y cómo usamos esa información. La tabla también enumera la base legal en la que confiamos para procesar la información personal.</p>

        <p>Podemos vincular o combinar la información personal que recopilamos sobre ti y la información que recopilamos automáticamente. Esto nos permite brindarte una experiencia personalizada independientemente de cómo interactúas con nosotros.</p>

        <p>Podemos anonimizar y agregar cualquier información personal que recopilemos y utilizar dicha información anónima para fines que incluyen probar nuestros sistemas, investigar, analizar datos, mejorar nuestro Servicio y desarrollar nuevos productos y características. También podemos compartir información anonimizada con otros.</p>

        <p>Almacenaremos la información personal que recopilamos sobre ti por un período no superior al necesario para los fines establecidos en el Anexo 1 y el Anexo 2 y de acuerdo con nuestras obligaciones legales e intereses comerciales legítimos.</p>

        <h3>3. Destinatarios de información personal</h3>

        <p>Podemos compartir su información personal con las siguientes personas jurídicas (según se requiera de acuerdo con los usos establecidos en los Anexos 1 y 2):</p>

        <p>&nbsp;</p>

        <ol>
            <li>Proveedores de servicios y asesores: podemos compartir su información personal con proveedores externos y otros proveedores de servicios que prestan servicios para nosotros o en nuestro nombre, que pueden incluir pagos, correo electrónico o servicios de chat, prevención de fraude, alojamiento web o prestación de servicios analíticos .</li>
        </ol>

        <p>&nbsp;</p>

        <ol start="2">
            <li>Redes sociales: cuando haya conectado una cuenta de redes sociales con nuestro Servicio, podemos publicar sus comentarios y opiniones en nuestras páginas de redes sociales y etiquetarlo en esas publicaciones.</li>
        </ol>

        <p>&nbsp;</p>

        <ol start="3">
            <li>Compradores y terceros en relación con una transacción comercial: su información personal puede ser revelada a terceros en relación con una transacción, como una fusión, venta de activos o acciones, reorganización, financiación, cambio de control o adquisición de todo o un porción de nuestro negocio.</li>
        </ol>

        <p>&nbsp;</p>

        <ol start="4">
            <li>Aplicación de la ley, reguladores y otras partes por razones legales: podemos compartir su información personal con terceros según lo exige la ley o si creemos razonablemente que dicha acción es necesaria para:
            <ul>
                <li>
                <p>ejercer o proteger los derechos, propiedad o seguridad personal de quizvideo, sus usuarios u otros.</p>
                </li>
                <li>
                <p>detectar e investigar actividades ilegales e incumplimientos de acuerdos, incluidos nuestros Términos de Servicio; y / o</p>
                </li>
                <li>
                <p>cumplir con la ley y las solicitudes razonables de la aplicación de la ley;</p>
                </li>
            </ul>
            </li>
            <li>
            <p>Almacenamiento y transferencia de su información personal</p>
            </li>
            <li>
            <p>Seguridad. Implementamos medidas técnicas y organizativas apropiadas para proteger su información personal contra la destrucción, pérdida, cambio o daño accidental o ilegal.<br />
            <br />
            Toda la información personal que recopilamos se almacenará en nuestros servidores seguros. Todas las transacciones electrónicas realizadas a través de nuestro sitio web estarán protegidas por la tecnología de cifrado TLS. Nunca le enviaremos correos electrónicos no solicitados ni le contactaremos por teléfono solicitando su identificación de cuenta, contraseña, información de su tarjeta de crédito o débito ni números de identificación nacional.</p>
            </li>
            <li>
            <p>Almacenamiento: Cualquier información que recopilemos de ti se almacenará en servidores y bases de datos ubicadas en la UE o en el EEE.</p>
            </li>
        </ol>

        <p>&nbsp;</p>

        <h3>5. Derechos ARCO</h3>

        <p>En virtud de la legislación vigente tienes los siguientes derechos:</p>

        <ol>
            <li>Derecho de acceso. Tienes el derecho de obtener confirmación de si, y dónde, estamos procesando tu información personal; información sobre las categorías de información personal que procesamos, los fines para los cuales procesamos tu información personal y la información sobre cómo determinamos los períodos de retención aplicables; información sobre las categorías de destinatarios con quienes podemos compartir tu información personal; y una copia de la información personal que tenemos sobre ti.</li>
            <li>Derecho de portabilidad. En ciertas circunstancias, tienes derecho a recibir una copia de la información personal que nos has proporcionado en un formato estructurado, comúnmente utilizado, legible por un ordenador común, que respalda la reutilización o para solicitar la transferencia de tus datos personales a otra persona.</li>
            <li>Derecho a la rectificación. Tienes derecho a obtener la rectificación de cualquier información personal imprecisa o incompleta que tengamos sobre ti sin demora indebida.</li>
            <li>Derecho a borrado. Tiene el derecho, en algunas circunstancias, de exigirnos que borremos tu información personal sin demoras indebidas si el procesamiento continuo de esa información personal no está justificado.</li>
            <li>Derecho a la restricción. En ciertas circunstancias, tienes el derecho de exigirnos que limitemos los fines para los cuales procesamos tu información personal si el procesamiento continuo de la información personal no está justificado.</li>
            <li>Derecho a oponerte. Tienes derecho a oponerte a cualquier procesamiento basada en nuestros intereses legítimos cuando existan motivos relacionados con tu situación particular. Puede haber razones de peso para continuar procesando tu información personal, y lo evaluaremos y te informaremos si ese es el caso. Puedes oponerte a actividades de marketing por cualquier motivo.</li>
        </ol>

        <p>Para ello, podrá dirigirse a QuizVideo Trivia, Calle Donoso Cortés 8, 1º D, 28015, Madrid, España, o a la dirección legal@quizvideo.com, con la referencia "ARCO" e indicando claramente tu nombre y apellidos, acreditando tu identidad e identificando a qué se refiere tu solicitud.</p>

        <h3>6. Enlaces a sitios de terceros</h3>

        <p>Nuestro Servicio puede, de vez en cuando, contener enlaces hacia y desde sitios web de terceros, incluidos los de otros usuarios, nuestras redes asociadas, anunciantes, comerciantes asociados, publicaciones de noticias, minoristas y afiliados.</p>

        <p>Si sigues un enlace a cualquiera de estos sitios web, ten en cuenta que estos sitios web tienen sus propias políticas de privacidad y que no aceptamos responsabilidad alguna por sus políticas.</p>

        <p>Verifique las políticas individuales antes de enviar cualquier información a esos sitios web.</p>

        <h3>7. Política de Privacidad para menores de 16 años</h3>

        <p>Nuestro Servicio no está dirigido a personas menores de 16 años y no recopilamos deliberadamente información personal de niños menores de 16 años.</p>

        <p>Si te da cuenta de que tu hijo nos ha proporcionado información personal, sin tu consentimiento, contáctenos utilizando los detalles a continuación para que podemos tomar medidas para eliminar dicha información y finalizar cualquier cuenta que tu hijo haya creado con nosotros.</p>

        <h3>8. Cambios a esta Política de Privacidad</h3>

        <p>Podemos actualizar esta Política de Privacidad de vez en cuando, por lo que debe revisar esta página periódicamente. Cuando modifiquemos esta política de privacidad de manera significativa, actualizaremos la fecha de "última modificación" al final de esta Política de Privacidad.</p>

        <p>Los cambios en esta política de privacidad son efectivos cuando se publican en esta página.</p>

        <h3>9. Comunicación</h3>

        <p>Si necesitamos proporcionarte información sobre algo, ya sea para fines legales, de marketing u otros relacionados con el negocio, seleccionaremos la que creemos que es la mejor manera de ponernos en contacto contigo.</p>

        <p>Por lo general, lo haremos por correo electrónico o mediante un aviso en nuestro Servicio. El hecho de que podamos enviarle avisos no impedirá que pueda optar para no recibir ciertos tipos de contacto como se describe en esta política de privacidad.</p>

        <h3>10. Contacto</h3>

        <p>Póngase en contacto con legal@quizvideo.com si tienes alguna pregunta, comentario o solicitud sobre esta Política de Privacidad.</p>

        <p>Esta política de privacidad fue modificada por última vez el 18 de mayo de 2018.</p>

    </div>
</div>