<div class="base-component help-center">
    <app-navbar [goback]="true" [logoClasses]="logoClasses" [titles]="titles"></app-navbar>
            
    <div class="main-content center"> 
        <h2>Bases del Sorteo "Gana un IphoneX"</h2>
        
        <p>Te explicamos cómo jugar a quizvideo en 6 pasos:</p>

        <h3>Primero, únete a nuestra comunidad</h3>

        <p>Necesitas crear tu nombre de usuario y registrar tu email y contraseña para poder jugar.</p>

        <h3>Segundo, únete a nuestros juegos diarios</h3>

        <p>Cada día a las 20:30 te esperamos para un nuevo quizvideo. No llegues tarde o no podrás ganar los premios. Te recomendamos que aceptes nuestras notificaciones push, si tu móvil es compatible.</p>

        <h3>Tercero, ¡a jugar!</h3>

        <p>Te vamos a hacer 10 preguntas con cuatro posibles respuestas. Sólo una es la correcta. Piensa rápido, solo tienes 10 segundos para contestar.</p>

        <h3>Cuarto, ¿cómo funcionan las estrellas?</h3>

        <p>En quizvideo la velocidad importa. Cada pregunta correcta tiene un valor de 3, 2 o 1 estrellas. Cuanto más rápido, más estrellas.</p>

        <h3>Quinto, ¿Quién gana?</h3>

        <p>El usuario o usuarios que más estrellas obtengan en cada juego. Si gana más de uno, el premio se divide a partes iguales. ¡Siempre hay al menos un ganador!</p>

        <h3>Sexto, ¿Cómo cobro lo que gano?</h3>

        <p>Facilísimo, ve a Tu balance y cobra directamente en tu cuenta de verse.</p>

        <p><br />
        Si tienes más preguntas, estamos en <a class="m twitter" href="https://twitter.com/quizvideotrivia" target="_blank"></a>, <a class="m instagram" href="https://www.instagram.com/quizvideo/" target="_blank">Instagram</a> y <a class="m facebook" href="https://www.facebook.com/quizvideo" target="_blank">Facebook</a>. ¡Escríbenos!</p>

    </div>
</div>